#photoContainer{
    min-width:750px;
    height: 600px;
}

#photo{
    min-width: 550px;
    min-height: 500px;
    float: left;
    width:70%;
    text-align: center;
}

#infobox{
    float: right;
    width: 25%;
    min-width:190px;
    min-height:300px;
    background-color: rgba(50,50,50,0.6);
    padding: 5px;
    padding-bottom: 25px;
}

.infoboxElem{
    padding-bottom: 5px;
}

#photo > img{
    max-height: 500px;
    max-width: 100%;
}

.label{
    text-align: center;
}

.textInput{
    height:50px;
    font-size: large;
    border-radius: 3px;
    width: 170px;
}

#delete{
    width: 50px;
    cursor: pointer;
}

#delete > img{
    width: 50px;
}

.selector{
    height:50px;
    font-size: large;
    width: 150px;
    margin-right: 10px;
    float:left;
}

#privacySelector{
    float: none;
}

#restrictedUserAdder{
    width:50px;
    background-color: rgba(50,140,50,0.8);
    border-radius: 25px;
    cursor: pointer;
}

#restrictedUserAdder:hover{
    background-color: rgba(50,170,50,1);
}

.restrictedUserRemover{
    width:25px;
    border-radius: 12px;
    background-color: rgba(140,50,50,0.8);
    cursor: pointer;
}

.restrictedUserRemover:hover{
    background-color: rgba(170,50,50,1);
}

#restrictedUserBox{
    /* By default this panel will be hidden, but if "restricted users" privacy level is set, it will be shown*/
    display: none;
}

#nameLabel{
    font-size: larger;
}

.hoverableAction:hover{
    color: rgba(0,0,0,1);
}