.formBox{
    width: 250px;
    height: 50px;
    border-radius: 3px;
    font-size: large;
    float:none;
    margin-top: 15px;
    text-align: center;
}

.formBox:invalid{
    border-color: rgba(200,100,100,1);
}

.formBox:valid{
    border-color: rgba(100,255,100,1);
}

#submit{
    background-color: rgba(255,255,255,1);
    width: 256px;
    height: 50px;
    margin-top: 15px;
    font-size: large;
    margin-bottom: 15px;
}

#register{
    margin: auto;
}

#errorMessage:empty{
    display: none;
}