<!DOCTYPE html>
<html
        {% if session.get_user_background() %}
            style="background: url(/api/photo/download/{{ session.get_user_background() }}) no-repeat"
        {% endif %}
>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Kaixo Mundua</title>
        {% block headParams %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="/stylesheet/default.css"/>
        <script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
        <script type="text/javascript" src="/js/default.js"></script>
        <script type="text/javascript" src="/js/utils.js"></script>
        <link rel="icon" type="image/png" href="/images/h.png">
    {% endblock %}
</head>
<body>
<header>
    <div id="head">
        <div id="headerTitle">Kaixo Mundua</div>
        <div id="languages">
            <div id="langEn" class="language"><a href="?language=en_EN">En</a></div>
            <div id="langEs" class="language"><a href="?language=es_ES">Es</a></div>
            <div id="langEu" class="language"><a href="?language=eu_ES">Eu</a></div>
        </div>
    </div>
</header>
<div id="menu">
    <!-- Always show -->
    <a href="/">
        <div id="indexTab" class="tab" data-active="{% block welcomeActive %}{% endblock %}">
            {% trans %}Index{% endtrans %}
        </div>
    </a>
    <a href="/photos">
        <div id="photosTab" class="tab" data-active="{% block photosActive %}{% endblock %}">
            {% trans %}Photos{% endtrans %}
        </div>
    </a>
    <a href="/map">
        <div id="mapTab" class="tab" data-active="{% block mapActive %}{% endblock %}">
            {% trans %}Map{% endtrans %}
        </div>
    </a>
    <!-- Show if user is not logged in -->
    {% if session.get_id()==None %}
        <a href="/login">
            <div id="loginTab" class="tab" data-active="{% block loginActive %}{% endblock %}">
                {% trans %}Login{% endtrans %}
            </div>
        </a>
        <a href="/register">
            <div id="registerTab" class="tab" data-active="{% block registerActive %}{% endblock %}">
                {% trans %}Register{% endtrans %}
            </div>
        </a>
        <!-- Show if user is logged in -->
    {% else %}
        {% if session.get_role_level() >= 1 %}
            <a href="/profile/{{ session.get_id() }}">
                <div id="profileTab" class="tab" data-active="{% block profileActive %}{% endblock %}">
                    {% trans %}Profile{% endtrans %}
                </div>
            </a>
        {% endif %}
        {% if session.get_role_level() == 3 %}
            <!-- Show if user is admin -->
            <a href="/users">
                <div id="showUsersTab" class="tab" data-active="{% block usersActive %}{% endblock %}">
                    {% trans %}Users{% endtrans %}
                </div>
            </a>
        {% endif %}
        <a href="/logout">
            <div id="logoutTab" class="tab" data-active="{% block logoutActive %}{% endblock %}">
                {% trans %}Logout{% endtrans %}
            </div>
        </a>
    {% endif %}
</div>
<section id="content">
    {% block content %}{% endblock %}
</section>
<footer>

</footer>
</body>
</html>