{% extends "static/templates/base.html" %}
{% block title %}{% if name %}{{ name }} - {% endif %}{% trans %}Photo{% endtrans %}{% endblock %}
{% block headParams %}
    <link rel="stylesheet" href="/stylesheet/photo.css"/>
    <script type="text/javascript" src="/js/photo.js"></script>
    <meta id="trans"
          data-want-to-delete="{% trans %}WantToDeletePhoto{% endtrans %}"
          data-set-as-background="{% trans %}SetAsBackgroundQuestion{% endtrans %}"
          data-set-as-profile-photo="{% trans %}SetAsProfilePhotoQuestion{% endtrans %}"
    />
    {% if session.get_id() != None %}
        <meta id="userinfo" data-user-id="{{ session.get_id() }}"/>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="photoContainer">
        <div id="photo" data-photo-id="{{ photo_id }}"><img src="/api/photo/download/{{ photo_id }}"/></div>
        <div id="infobox">
            {% if edition_permission %}
                <div id="nameEditable" class="infoboxElem">
                    <input id="nameInput" value="{{ name }}" class="textInput"
                           placeholder="{% trans %}PhotoName{% endtrans %}"/>
                </div>
                <div id="privacy" class="infoboxElem">
                    <select id="privacySelector" class="selector">
                        <option value="0"{% if privacy == 0 %} selected="selected"{% endif %}>
                            {% trans %}Public{% endtrans %}
                        </option>
                        <option value="1"{% if privacy == 1 %} selected="selected"{% endif %}>
                            {% trans %}RestrictedUsers{% endtrans %}
                        </option>
                        <option value="2"{% if privacy == 2 %} selected="selected"{% endif %}>
                            {% trans %}Private{% endtrans %}
                        </option>
                    </select>
                    <div id="restrictedUserBox">
                        <select id="restrictedUserSelector" class="selector">
                            {% for user in every_user_list %}
                                <option value="{{ user.key.id() }}">{{ user.name }}</option>
                            {% endfor %}
                        </select>
                        <img id="restrictedUserAdder" src="/images/add.png">
                        <div id="allowed_users">Allowed users:
                            {% if allowed_users is not none %}
                                {% for allowed_user in allowed_users %}
                                    <div id="allowed_user_{{ allowed_user.user.id() }}" data-user-id="{{ allowed_user.user.id() }}" class="allowed_users">
                                        <a href=/profile/"{{ allowed_user.user.id() }}">{{ allowed_user.user.get().name }}</a>
                                        <img class="restrictedUserRemover" src="/images/remove.png">
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="visualizations" class="infoboxElem">Visualizations:
                    {% for key in views %}
                        <div class="visualizationUser">
                            {% if views[key]['id'] is none %}
                                {{ views[key]['name'] }}: {{ views[key]['count'] }}
                            {% else %}
                                <a href="/profile/{{ views[key]['id'] }}">{{ views[key]['name'] }}</a>: {{ views[key]['count'] }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div id="delete" class="infoboxElem" title="{% trans %}DeleteImage{% endtrans %}"><img src="/images/delete.png"></div>
            {% else %}
                <div id="nameLabel" class="infoboxElem">{{ name }}</div>
                <div id="albums" class="infoboxElem"></div>
            {% endif %}
            <div id="owner" class="infoboxElem">
                <label for="nameInput" class="label">{% trans %}PhotoDoneBy{% endtrans %}</label>:
                <br/><a href="/profile/{{ owner.key.id() }}">{{ owner.name }}</a></div>
            <div id="date" class="infoboxElem">
                <label for="nameInput" class="label">{% trans %}PhotoDoneIn{% endtrans %}</label>:
                <br/>{{ date }}</div>
            {% if session.get_id() != None %}
                <a id="setAsBackground" class="hoverableAction">{% trans %}SetAsBackground{% endtrans %}</a>
                <a id="setAsProfilePhoto" class="hoverableAction">{% trans %}SetAsProfilePhoto{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block photosActive %}true{% endblock %}